@charset "utf-8";

#vue-instance {
	font-family: 'Roboto', sans-serif;
	width: 95%;
	margin: 0 auto;
}

table{
  width: 100%;
}

.pagination {
	float: left;
}

.pagination span {
	padding-left: 4%;
}

select{
	float: right;
  }
